<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "Point"
          class="Shapes.Point" >
        <constructor-arg type="java.lang.Float" value="1" />
        <constructor-arg type="java.lang.Float" value="2" />
    </bean>
    <bean id = "Circle" class="Shapes.Circle">
        <constructor-arg type="java.lang.Float" value="3" />
        <constructor-arg type="java.lang.Float" value="4" />
        <constructor-arg type="java.lang.Float" value="5" />
    </bean>
    <bean id = "Shape" class="Shapes.Shape" abstract="true">
    </bean>
    <bean id = "Scene" class="Services.Scene">
        <constructor-arg type="java.lang.String" value="Красный"></constructor-arg>
        <property name="shapes">
            <list>
                <ref bean="Circle"></ref>
                <ref bean="Circle"></ref>
                <ref bean="Point"></ref>
            </list>
        </property>
    </bean>
</beans>